AUTH_GOOGLE_ID=secret.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=GOCSPX
AUTH_SENDGRID_KEY=SG.
BETTER_AUTH_SECRET=11112222333344445555666677778888
BETTER_AUTH_URL=http://localhost:4000
CONVEX_SELF_HOSTED_ADMIN_KEY=
CONVEX_SELF_HOSTED_URL='http://127.0.0.1:4001'
CONVEX_SITE_URL=http://127.0.0.1:4002
CONVEX_URL=http://127.0.0.1:4001
JWKS={"keys":[]}
JWT_PRIVATE_KEY=
DB_URL=postgresql://postgres:${POSTGRES_PASSWORD}@localhost:5432
FASTAPI_URL=http://host.docker.internal:8000
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSy
GOOGLE_VERTEX_API_KEY=AQ.Ab8RN6
NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:4001
NEXT_PUBLIC_SPACETIMEDB_URI=ws://localhost:4000
OLLAMA_URL=http://host.docker.internal:11434
OPENAI_API_KEY=sk
OPENAI_BASE_URL=http://localhost:11434/v1
OPENID_CLIENT_ID=abcxyz
OPENID_CLIENT_SECRET=very_strong_secret
POSTGRES_PASSWORD=pw
REDIS_URL=redis://localhost:6379
RESEND_API_KEY=re
S3_ACCESS_KEY_ID=minioadmin
S3_BUCKET=mybucket
S3_ENDPOINT=http://localhost:4600
S3_SECRET_ACCESS_KEY=minioadmin
SERPER_API_KEY=
SPACETIMEDB_MODULE_NAME=noboil
SPACETIMEDB_URI=ws://localhost:4000
SITE_URL=http://localhost:4000
TMDB_KEY=
