**/Localizable.xcstrings
**/fastlane/
**/gradle/wrapper/gradle-wrapper.jar
**/keystore.jks
**/keystore.properties
*.bun-build
*.cer
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.mobileprovision
resource_bundle_accessor*
*.swiftdeps
*.swiftmodule
*.dia
*.mode1v3
*.mode2v3
*.moved-aside
*.p12
*.p12.password
*.pbxuser
*.pem
*.perspectivev3
*.profraw
*.pt
*.swo
*.swp
*.xccheckout
*.xcscmblueprint
.DS_Store
.android/
.build/
.cache
.cache/
.env
.env*.local
.eslintcache
.gradle/
.kotlin/
.next/
.nitro/
.omc
.output/
.pnp
.pnp.js
.swiftpm/
.tmp/
.turbo
.vercel
.wxt
DerivedData/
Package.resolved
__pycache__
build
bun.lock
coverage
dist/
local.properties
next-env.d.ts
node_modules
out/
playwright-report/
test-results.xml
test-results/
xcodebuild*.log
xcuserdata/
doc/.source/source.config.mjs
